/sources/Makefile*
/sources/polyphone.pro.user*
/sources/.qmake.stash
/sources/polyphone.pro.user
/sources/generated_files
/build-*
**/polyphone.exe
deployment
lib_*
.DS_Store


*.o
sources/*.h
sources/*.cpp
sources/*.qrc

sources/.qm/

!sources/main.cpp
!sources/options.h
!sources/options.cpp
